header {
  height: 100px;
  background-image: url("./assets/chucknorris-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
}

.app {
  width: 100%;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  color: #886740;
  display: flex;
}
